<!DOCTYPE html>
<html>
  <head>
    <title>JH.Park Comp</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="title">
      <span>JH.Park Company</span>
    </div>
    <div class="container">
      <div class="jh-nav-bar">
        <span>
          <a href="/encoding">Encoding</a>
        </span>
      </div>

      <div>
          Encoding Body
      </div>
      
    </div>

    


  </body>
</html>
