<!DOCTYPE html>
<html>
  <head>
    <title>JH.Park Comp</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- 
    <div class="title">
      <span>JH.Park Company</span>
    </div> 
    -->
    <div class="container">
      
      <div class="header-bar mt10 mb10">
        <span class="logo">LOGO</span>
        <ul>
          <li>Product</li>
          <li>Developer</li>
        </ul>
      </div> <!-- /.header-bar -->

      <div class="jh-nav-bar">
        <ul>
          <li><a href="/encoding">Encoding</a></li>
          <li><a href="/encoding">apple</a></li>
          <li><a href="/encoding">apple</a></li>
          <li><a href="/encoding">apple</a></li>
          <li><a href="/encoding">apple</a></li>
          <li><a href="/encoding">apple</a></li>
          <li><a href="/encoding">apple</a></li>
        </ul>
      </div> <!-- /.jh-nav-bar-->

      <div class="footer">
        

      </div>
    </div> <!-- /.container -->

    


  </body>
</html>
