body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.container {
  text-align: center;
}

.title > span {
  font-size: 20px;
  font-weight: blod;
}

.header-bar {
  text-align: left;
  width: 900px;
  display: inline-block;
}

.header-bar .logo {
  font-size: 30px;
  font-weight: bold;
}

.header-bar ul {
  display: inline-block;
}

.header-bar ul li {
  display: inline-block;
  margin-left: 30px;
  font-weight: bold;
}

.jh-nav-bar {
  background-color: dimgrey;
}

.jh-nav-bar ul {
  display: inline-block;
}

.jh-nav-bar ul li {
  display: inline-block;
  width: 100px;
  margin-left: 30px;
}

.jh-nav-bar ul li a {
  color: white;
  text-decoration: none;
}

.mt10 {margin-top: 10px;}
.mb10 {margin-bottom: 10px;}